@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* icon styles */
@import "./css-icons/wifi.css";
@import "./css-icons/batery.css";
@import "./css-icons/settings.css";
@import "./css-icons/loop.css";

/* os styles */
@import "./app-dock.css";
@import "./top-bar.css";
@import "./login.css";

/* app styles */
@import "./desktop-app.css";

:root {
  --appZIndex: 10;
}

#display-too-small {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  display: none;
}

body {
  margin: 0;
  height: 100%;
  background-image: url("../assets/backgrounds/background-2.jpg");
  background-size: cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
